@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/** FONTELLO **/

	@font-face {
	font-family: 'fontello';
	src: url('fonts/fontello.eot?60879767');
	src: url('fonts/fontello.eot?60879767#iefix') format('embedded-opentype'),
	   url('fonts/fontello.woff2?60879767') format('woff2'),
	   url('fonts/fontello.woff?60879767') format('woff'),
	   url('fonts/fontello.ttf?60879767') format('truetype'),
	   url('fonts/fontello.svg?60879767#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
	}
	/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
	/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
	/*
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	font-family: 'fontello';
	src: url('fonts/fontello.svg?60879767#fontello') format('svg');
	}
	}
	*/

	[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	}

	.icon-check:before { content: '\e800'; } /* '' */
	.icon-down-open:before { content: '\e801'; } /* '' */
	.icon-left-open:before { content: '\e802'; } /* '' */
	.icon-right-open:before { content: '\e803'; } /* '' */
	.icon-up-open:before { content: '\e804'; } /* '' */
	.icon-phone:before { content: '\e805'; } /* '' */
	.icon-ok:before { content: '\e806'; } /* '' */
	.icon-twitter:before { content: '\f099'; } /* '' */
	.icon-facebook:before { content: '\f09a'; } /* '' */
	.icon-youtube-play:before { content: '\f16a'; } /* '' */
	.icon-instagram:before { content: '\f16d'; } /* '' */

/** FONTELLO **/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin:0;
	padding:0;
	list-style: none;}

body{
    font-family: 'Roboto', sans-serif;
	background:#f5f5f5;
	font-size:14px;
	color:#363636;}
a{
	text-decoration:none;
	color:#299360;}
h1{
	font-weight:500;
	margin-bottom:20px;}
h3{
	margin-bottom:20px;}
p{
	margin-bottom:20px;}
.responsive{
	max-width:100%;}
.banner h1{
	font-size:48px;
	font-weight:700;
	display:block;
	margin:0;
	line-height:1;
	text-shadow: 2px 2px 2px #000;}
.banner h1 sub{
	font-size:28px;
	font-weight:400;
	display:block;
	margin:0;}
.nav-planes a:hover.bg-green, .nav-planes button:hover.bg-green{
	background:#fff;}
.nav-planes a:hover.color-white, .nav-planes button:hover.color-white{
	color:#299360;}
.nav-planes a:hover.color-white .color-green, .nav-planes button:hover.color-white .color-green{
	color:#299360;}
.site-footer{
	border-top:solid 3px #299360;}
.wpcf7-response-output{
	clear:both;
	margin-top:20px;}
.mapa-iframe iframe{
	width:100%;
	height:390px;
	display:block;}
.eventos{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	color:#fff;
	text-align:center;
	font-weight:700;
	padding:10px;
	width:200px;
	background:#299360;
	top:40px;
	right:-40px;}
/**
 * Forms
 * ----------------------------------------------------------------------------
 */
.wpcf7 .row-50, .wpcf7 .row-100, .wpcf7 .row-33{
	padding:7px;}
.row-50 input, .row-100 input{
	width:100%;
	border:solid 1px #fff;
	padding:20px 30px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;}
.row-50 select, .row-100 select{
	width:100%;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	border:solid 1px #fff;
	padding:20px 30px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;}
.wpcf7 .row-33 input[type='submit']{
	font-size:12px;
	color:#fff;
	padding:20px 30px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	background:#299360;
	border:solid 1px #299360;
	width:100%;
	text-align:left;}
label{
	display:block;
	font-weight:700;
	margin-bottom:5px;}
.planes img{
	width:100%;
	height: auto;}
.planes strong{
	font-size:16px;}
.nav-tab a{
	text-decoration:none;
	border-bottom:solid 1px #fff;}
.grid-item, .element-item{
	line-height:1;}
.grid-item img, .element-item img{
	width:100%;
	height:100%;}
.slick-dots{
	height: auto;
	position: absolute;
	left: 0;
	bottom: 10px;
	padding: 0 20px;
	z-index: 2;
	}
.slick-dots li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px;
	overflow: hidden;}
.slick-dots li button{
	background: #fff;
	color: #fff;
	display: block;
	width: 10px;
	height: 10px;
	border:none;
	padding: 0;
	font-size: 1px;}
.slick-dots li.slick-active button{
	background: #299360;
	color: #299360;
}
.especial-title h1{
	font-size: 16px;
	font-weight: 400;
}
.especial-title h1 strong{
	font-weight: 700;
	color: #299360;
	font-size: 32px;
}
.parques-home:first-child, .noticias-home:first-child{
	padding-right: 10px;
}
.parques-home:last-child, .noticias-home:last-child{
	padding-left: 10px;
}
.parques-home:nth-child(2), .noticias-home:nth-child(2){
	padding-left: 5px;
	padding-right: 5px;
}
.parques-home strong{
	font-size: 18px;
}
.sep-footer span{
margin: 0 10px;}
.sep-footer img{
	margin: 0 10px 0 0;
	position: relative;
	top: 3px;
}
.nav-menu > li{
	display: inline-block;
	position: relative;
}
.nav-menu > li > a{
	display: block;
	color: #fff;
	padding: 15px 15px;
	font-size: 14px;
}

#menu-item-2723 > a{
	/*color:#299360;
	font-weight: 500;
	width: 131px;
    text-align: center;*/
	background: transparent url(https://parquedelrecuerdo.cl/wp-content/uploads/2020/04/music-note-png2.png) 6% 55% no-repeat;
	/*background: transparent url(https://parquedelrecuerdo.cl/wp-content/uploads/2020/04/music-note-png2.png) center left no-repeat;*/
}

.nav-menu > li:last-child > a{
	padding: 15px 0 15px 25px;}
.nav-menu li > ul{
	display: none;
}
.nav-menu li:hover > ul{
	display:block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 200px;
	background: #299360;
	z-index: 3;
	padding-top: 15px;
}
.nav-menu li > ul > li{
	display: block;
	width: 100%;
}
.nav-menu li > ul > li a{
	display: block;
	width: 100%;
	padding: 15px 25px;
	color: #fff;
	text-align: left;
}
.nav-menu li > ul > li a:hover{
	background: #1d6542;
}
.logo{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	/*height: 38px;
    width: 124px;*/
}
.special-list li{
	padding: 0 0 20px 0;
}
.special-list li:before{content: '\e806'; font-family: "fontello"; margin-right: 20px; color: #299360;}

.special-list li strong{color: #299360;}

.ui-state-active{position: relative;}

.ui-state-active:before{content: '\e803'; font-family: "fontello"; position: absolute; top: 0; bottom: 0; right: 25px; margin: auto; display: block; color: #fff; height: 14px;}

.planes img.size-medium{
	width: 33%;

}
.alignleft{
	float: left;
	margin: 0 10px 10px 0;
}
.img-real {
	width: 80px !important;
	height: auto !important;
}
/**
 * Rows
 * ----------------------------------------------------------------------------
 */
.row-100{
	width:100%;}
.row-90{
	width:90%;
	float:left;}
.row-80{
	width:80%;
	float:left;}
.row-70{
	width:70%;
	float:left;}
	.row-75{
		width:75%;
		float:left;}
.row-60{
	width:60%;
	float:left;}
	.row-66{
		width:66.66%;
		float:left;}
.row-50{
	width:50%;
	float:left;}
.row-40{
	width:40%;
	float:left;}
.row-30{
	width:30%;
	float:left;}
	.row-33{
		width:33.33%;
		float:left;}
.row-20{
	width:20%;
	float:left;}
	.row-25{
		width:25%;
		float:left;}
.row-10{
	width:10%;
	float:left;}
.alto-300{
	height:300px;}
.alto-40{
	height: 40px;
}
.alto-50{
	height: 50px;
}
.ancho-100{
	width: 100px;}
.alto-100{
	height: 100px;}
/**
 * Max Width
 * ----------------------------------------------------------------------------
 */
.max-1280{
	max-width:1280px;}
.max-730{
	max-width:730px;}
.max-600{
	max-width:600px;}
/**
 * Margin
 * ----------------------------------------------------------------------------
 */	
.margin-auto{
	margin:auto;}
.margin-auto-absolute{
	margin: auto;
	left: 0;
	right: 0;
}
.bottom-20{
	margin-bottom:20px;}
.top-20{
	margin-top:20px;}
.top-330{
	margin-top: 330px;}
.m-right-10{
	margin-right: 10px;
}
/**
 * Padding
 * ----------------------------------------------------------------------------
 */
.padding-10{
	padding:10px}	
.padding-15{
	padding:15px}
.padding-15-0{
	padding:15px 0}
.padding-40{
	padding:40px;}
.padding-40-0{
	padding:40px 0px;}
.padding-15-30{
	padding:15px 30px;}
.padding-200-20{
	/*padding:200px 20px;*/padding:125px 20px; min-height: 400px;}
.right-20{
	padding-right:20px;}
.right-25{
	padding-right:25px;}
.right-10{
	padding-right:10px;}
.left-20{
	padding-left:20px;}
.left-10{
	padding-left:10px;}
.p-top-10{
	padding-top:10px;}
.p-top-20{
	padding-top:20px;}
.p-top-30{
	padding-top:30px;}
.p-top-40{
	padding-top:40px;}
.p-top-60{
	padding-top:60px;}
.p-bottom-10{
	padding-bottom:10px;}
.p-bottom-20{
	padding-bottom:20px;}
.p-bottom-40{
	padding-bottom:40px;}
.padding-20{
	padding:20px;}
/**
 * Background
 * ----------------------------------------------------------------------------
 */	
.bg-green{
	background:#299360;}
.bg-green-2{
	background:#5eb246;}
.bg-hojas{
	background: url(http://localhost/parasist/public/images/auth/bg-header.jpg) center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;}
.bg-green-h{
	background: #1d6542;}
.bg-white{
	background:#ffffff;}
.bg-rosa{
	background: #d4859b;}
.bg-celeste{
	background: #3daddf;}
.gradient-black{	
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.47) 45%, rgba(0,0,0,0.47) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(4%, rgba(0,0,0,0)), color-stop(45%, rgba(0,0,0,0.47)), color-stop(100%, rgba(0,0,0,0.47)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.47) 45%, rgba(0,0,0,0.47) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.47) 45%, rgba(0,0,0,0.47) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.47) 45%, rgba(0,0,0,0.47) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 4%, rgba(0,0,0,0.47) 45%, rgba(0,0,0,0.47) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );}
.gradient-parques{
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 62%, rgba(0,0,0,0.59) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 62%,rgba(0,0,0,0.59) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 62%,rgba(0,0,0,0.59) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#96000000',GradientType=0 );}
	 
 /**
 * texto
 * ----------------------------------------------------------------------------
 */	
.text-center{
	text-align:center;}
.text-justify{
	text-align:justify;}
.text-right{
	text-align:right;}
.color-green{
	color:#299360;}
.color-white{
	color:#fff;}
.color-white .color-green{
	color:#fff;}
.color-black{
	color:#363636;}
.font-18{
	font-size:18px;}
.font-16{
	font-size:16px;}
.font-14{
	font-size:14px;}
.bold{
	font-weight:700;}
.normal{
	font-weight: 400;
}
/**
 * clear
 * ----------------------------------------------------------------------------
 */	
.clear{
	clear:both;}
.hidden{
	overflow:hidden;}
/**
 * Display
 * ----------------------------------------------------------------------------
 */	
 .block{
	 display:block;}
 .inline-block{
	 display:inline-block;}
/**
 * Border
 * ----------------------------------------------------------------------------
 */
 .border-green{
	 border:solid 3px #299360}
 .radius-30{
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;}	
.radius-100{
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}
 /**
 * Position
 * ----------------------------------------------------------------------------
 */
.relative{
	position:relative;}
.absolute{
	position:absolute;}
.position-top-100{
	top:100%;}
.grid-item:hover .position-top-100{
	bottom:12px;
	top:auto;
	width:calc(100% - 20px);
	left:0;
	right:0;
	margin:auto;}
.absolute-bottom-10{
	bottom: 10px;}

/** IMG **/

.img-desktop{
	display: block;
}
.img-mobile{
	display: none !important;
}
#nav-icon3{
	display: none;
}

/** MENU **/
#mobile-navigation{
	display: none;
}

#mobile-navigation{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

#mobile-navigation li a{
	padding: 15px;
	display: block;
	font-weight: 700;
}
#mobile-navigation li .sub-menu a{
	padding: 20px 20px 20px 40px;
}

#mobile-navigation .color-white a{
	color: #fff !important;
}
#mobile-navigation .color-black a{
	color: #000 !important;
}

.sub-open ul{
	display: none;
}


.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 25px;
    height: 25px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background:#299360;
    border-radius: 50%;
    opacity:0.5;
}
.slick-prev:hover, .slick-next:hover{
    opacity:1;
}
.slick-next {
    right: -18px;
}
.slick-prev {
    left: -18px;
}
.slick-next:before {
    content: '>';
}
.slick-prev:before {
    content: '<';
}


.div-rutas-y-mapas
{
   float: left;
   margin-left: 20px;
}

/**
 * Responsive
 * ----------------------------------------------------------------------------
 */
@media (max-width: 1440px) {

}
@media (max-width: 1366px) {

}
@media (max-width: 1280px) {

}
@media (max-width: 1136px) {

}
@media (max-width: 1024px) {
	.top-menu{
		display: none;
	}
	
	#site-navigation{
		display: none;
	}
	.logo{
		position: initial;
	}
	#nav-icon3{
		display: block;
		width: 35px;
	  	height: 25px;
	  	position:absolute;
	  	margin: auto;
	  	-webkit-transform: rotate(0deg);
	  	-moz-transform: rotate(0deg);
	  	-o-transform: rotate(0deg);
	  	transform: rotate(0deg);
	  	-webkit-transition: .5s ease-in-out;
	  	-moz-transition: .5s ease-in-out;
	  	-o-transition: .5s ease-in-out;
	  	transition: .5s ease-in-out;
	  	cursor: pointer;
		top: 0;
		bottom: 0;
		right: 0;
	}

	#nav-icon3 span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: #fff;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}

	#nav-icon3 span:nth-child(1) {
	  top: 0px;
	}

	#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	  top: 10px;
	}

	#nav-icon3 span:nth-child(4) {
	  top: 20px;
	}

	#nav-icon3.open span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}

	#nav-icon3.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	#nav-icon3.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	#nav-icon3.open span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
}
@media (max-width: 980px) {

}
@media (max-width: 960px) {

}
@media (max-width: 854px) {

}
@media (max-width: 800px) {

}
@media (max-width: 768px) {
	.img-desktop{
		display: none !important;
	}
	.img-mobile{
		display: block !important;
	}
	.m-text-center{
		text-align: center;
	}
	.row-33{
		width: 100%;
	}
	.row-50{
		width: 100%;
	}
	.row-25{
		width: 50%;
	}
	.parques-home:first-child, .noticias-home:first-child{
	padding-right: 0px;
	}
	.parques-home:last-child, .noticias-home:last-child{
		padding-left: 0px;
	}
	.parques-home:nth-child(2), .noticias-home:nth-child(2){
		padding-left: 0px;
		padding-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.m-padding-0{
		padding: 0px;
	}
	.m-alto-auto{
		height: auto;
	}
	.m-bottom-20{
		margin-bottom: 20px;
	}
	.m-padding-right-20{
		padding-right: 20px;
	}
	.m-padding-left-20{
		padding-left: 20px;
	}
	.no-mobile{
		display: none;
	}
	.banner h1{
		font-size: 32px;
	}
	.banner h1 sub{
		font-size: 20px;
	}
	.row-60{
		width: 100%;
	}
	.row-40{
		width: 100%;
	}
	.row-30{
		width: 100%;
	}
	.row-70{
		width: 100%;
	}
	.m-row-100{
		width: 100%;
	}
	.m-bottom-10{
		margin-bottom: 10px;
	}
	.m-padding-15-0{
		padding: 15px 0px;
	}
	.row-66{
		width: 100%;
	}
	.logo{
		width: 180px;
	}
	.m-top-250{
		margin-top: 250px;
	}
}




/*AGREGADO PARA SUCURSAL VIRTUAL*/
@media only screen and (max-width: 480px) {
    .embed-container {
       position: relative;
       padding-bottom: 80vh !important;
       height: 0;
       overflow: hidden;
   }
   
	#ssb-container{
		top:60% !important;
	}   
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#content-inicio{
  padding:0px !important;
}


	









@media (max-width: 640px) {
	.row-25{
		width: 100%;
	}
}
@media (max-width: 480px) {
	.m-ancho-80{
		width: 60px;
	}
	.m-alto-80{
		height: 60px;
	}
}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}
@media (max-width: 240px) {

}

/* Parche ITRO POPUP Mobile */
@media (max-width: 780px) {
	#itro_popup #popup_content img {
		width: 100% !important;
		height: 100% !important;
		object-fit: contain !important;
	}
}



.mleft{
    margin-left: 20px !important;
}
F